@charset "utf-8";
/* CSS Document */

footer {display:block; position:fixed;bottom:0;left:0; width:100%; line-height:2.5;  color:#fff; font-size:12px; text-align:center; background-color:#333; z-index:100; opacity:0.6;}
footer a { color:white;}
body{ font-size: 30px; text-align:center; line-height:1.8em; overflow: hidden;}

.weui-btn-area {
    margin: @weuiCellsMarginTop @weuiBtnDefaultGap .3em; 
}

.weui-btn_primary:not(.weui-btn_disabled):visited {
    color: #FFFFFF;
}

.weui-btn_primary {
    background-color: #1AAD19;
}

.weui-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.weui-cell__bd{
    flex: 1;
}

.weui-cells {
    margin-top: 1.17647059em;
    background-color: #FFFFFF;
    line-height: 1.47058824;
    font-size: 17px;
    overflow: hidden;
    position: relative;
}

.weui-cells:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}

.weui-cell {
    padding: 10px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.weui-input {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: 18px;
    color: #000;
    height: 1.47058824em;
    line-height: 1.47058824;
}
/*input*/
#newinfo_form input {
	height:35px;
	/*width:188px;*/
	width:99%;
	padding:0px 0px 0px 5px;
	font-size: 18px;
	line-height: 1.8em;
	display:inline;
}

#newinfo_form input, #newinfo_formtextarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
#newinfo_form input:focus, #newinfo_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}
	
.userinfo-avatar {
/*
	width: 200rpx;
	height: 200rpx;
	margin: 8rpx;
*/
	border-radius: 50%;
	border: 5px #eee solid;
	background-color: #aaa;
}



.reward_area {
	padding:38px 5% 20px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 auto
}
.reward_area_inner {
	margin:0 auto;
	position:relative;
	left:3px
}
.tc {
	text-align:center
}

.reward_access {
	display:inline-block;
	padding:0 1.6em;
	line-height:2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#FA0909;
	color:#fff;
	font-size:16px;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.reward_access:active {
	background-color:#be5041;
	color:#e69990
}

.tips_global {
	color:#8c8c8c
}

.reward_user_tips {
	margin-top:1.4em
}

.reward_user_list {
	padding-top:.5em;
	overflow:hidden
}

.gradient_yellow{
	display: inline-block;
	background:-webkit-linear-gradient(top,#ff0,#f00 70%,#c00 85%,#900);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.denglong {
	-webkit-animation-name: 'round'; /*动画名称*/
	-webkit-animation-duration: 1s;/*播放一次所持续时间*/
	animation-delay:1.5s;
	-webkit-animation-timing-function: linear;/*动画播放频率*/
	-webkit-animation-iteration-count: infinite;/*动画播放次涒为无限次*/
	-webkit-transform-origin: center 0;
}

/*定义钟摆的动画round*/
@-webkit-keyframes 'round' {
	from{
		-webkit-transform: rotate(0deg);
	}
	10%{
		-webkit-transform: rotate(5deg);
	}
	20%{
		-webkit-transform: rotate(10deg);
	}
	30%{
		-webkit-transform: rotate(15deg);
	}
	40%{
		-webkit-transform: rotate(10deg);
	}
	50%{
		-webkit-transform: rotate(5deg);
	}
	60%{
		-webkit-transform: rotate(0deg);
	}
	70%{
		-webkit-transform: rotate(-5deg);
	}
	80%{
		-webkit-transform: rotate(-10deg);
	}
	90%{
		-webkit-transform: rotate(-5deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-webkit-keyframes zhuan{
	0%
	{
		-webkit-transform:rotate(0deg);
	}

	100%
	{
		-webkit-transform:rotate(360deg);
	}
}
